@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
h1{
    font-family: 'Quicksand', sans-serif;
    color: white;
}
body{
    display: flex;
}
.leftHero{
    flex: 1;
    background-color: red;
    display: flex;
    align-items: center;
    background: url(space.jpeg);
    background-size: cover;
    background-position: center
}
.rightHero{
    flex: 2;
    background-color: #ffff;
}
.fullVH{
    height: 100vh;
}
.logoBanner{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(100, 100, 100, 0.5);
    height: 5rem;
    align-items: center;
    margin-bottom: 11rem;
    gap: 0.5em;
}
.logo{
    width: 3em;
    height: 3em;
}
.leftImage{
    height: 100vh;
}
form{
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(to left bottom, #dff6ff, #c3ebfd, #a8e0fd, #8cd4fd, #70c7fe, #5db4ed, #4aa1db, #358fca, #2873a4, #1c5980, #10405d, #06283d);
}